:root {
  --main-color: #ff4c68;
  --second-color: #ef8172;
  --font-color: #8f8f8f;
}

body,
h1,
h2,
h3 {
  font-family: Monteserrat, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

p {
  color: var(--font-color);
}

/* Title section  */

#title {
  background-color: var(--main-color);
  color: white;
}

.container-fluid {
  padding: 3% 15% 100px 15%;
  height: 700px;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.heading-title {
  text-align: left;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.img-col {
  text-align: center;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding-top: 5%;
}

.feature-box h3 {
  font-weight: bold;
  font-size: 30px;
}

.feature-box p {
  /* color: var(--font-color); */
}

.feat-img {
  color: var(--second-color);
  margin-bottom: 1rem;
}

.feat-img:hover {
  color: var(--main-color);
}

/* Testimonials section  */
#testimonials {
  /* padding: 7% 15%; */

  background-color: var(--second-color);
  color: #ffffff;
}

#testimonials h2 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 3rem;
}
.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: var(--second-color);

  padding-bottom: 3%;
}

#press img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Card section */

#pricing {
  padding: 100px;
}

#pricing h2 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 3rem;
}

.pricing-column {
  padding: 3% 2%;
}

.bd-more {
  height: 320px;
}

.btn-gr {
  margin-top: 40px;
}

/* Call to Action Section  */

#cta {
  height: 350px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

#cta-title {
  font-size: 40px;
  font-weight: 1000;
  color: white;
  padding: 5% 10%;

  line-height: 1.4;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cta {
  margin: 20px 20px;
}

/* footer section  */
#footer {
  height: 200px;
}

#social-links {
  margin-top: 100px;
}

.social-logo {
  margin: 0 10px;
}

footer p {
  margin-top: 20px;
}

/* Responsive Block  */

@media (max-width: 1000px) {
  .left-col {
    text-align: center;
  }

  .title-img {
    transform: rotate(0deg);
  }
  .container-fluid {
    height: 1400px;
  }
}
